.rev-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.write-review {
  color: var(--white);
  width: 228px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Orange);
  border: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.write-review:hover {
  background: var(--light-orange);
}

.review-item {
  width: 664px;
  margin-left: 15%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.user-info {
  max-width: 100px;
  margin-right: 10px;
}

.edit-delete-buttons {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

/* Add any additional styling you need for the buttons */
.edit-delete-buttons button {
  margin-right: 5px;
}

.user-name {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.headline {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.written-review {
  color: var(--dark-grayish-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* ! responsive */

@media only screen and (max-width: 375px) {
  .container.rev-head {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
  }

  .write-review {
    width: 50px;
  }

  .write-review {
    content: "Add ";
    margin-right: 5px;
  }

  .write-review {
    width: 100%;
    margin-top: 10px;
  }

  .review-item {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
  }

  .user-info {
    margin-right: auto;
  }

  .edit-delete-buttons {
    margin: 5px;
  }

  .edit-delete-buttons button {
    margin-right: 2px;
  }

  .feedback {
    margin-top: 50px;
  }
}
